<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field">
    <i class="icon-user"></i>
    <%= f.label :Title %>
    <%= f.text_field :question, :size=>"50", :maxlength=>"254" %> 
   
  </div>
  <div class="field">
    <i class="icon-comment"></i>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5, :cols => 100 %>
  </div>

  <div class="field">
    <%= f.label :skills %>
  <!--   <%= f.text_field :skills, 'data-tokeninput' => { collection: [{id: 'Java', name: 'Java'}, {id: 'RoR', name: 'Ruby on Rails'}] }.to_json %> -->
  <%= f.text_field :skills, 'data-tokeninput' => Skill.all_skills %>
  </div>


  <div class="actions">
    <%= f.submit 'Create question', :class => 'btn btn-primary' %>
    <%= link_to "Back",questions_path,class: "btn btn-small btn-primary" %>
  </div>
<% end %>





