<!-- <p id="notice"><%= notice %></p> -->
<div class="alert alert-success" role="alert">
  <p id="notice"><strong>Well done!</strong> <%= notice %>
  </p>
</div>

<h1>Questions</h1><b>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>

        <td> <%= question.question %> </td>
       
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Show', question %></button></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_question_path(question) %></button></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
      <tr><td><span class="badge badge-default"><%= question.skills %></span></td></tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-primary btn-sm">
<%= link_to 'New Question', new_question_path %></button>


