<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @question.skills %>
</p>
<button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_question_path(@question) %></button> |
<button type="button" class="btn btn-primary">
<%= link_to 'Back', questions_path %></button>
