<script type="text/javascript">
      function showAnswer(){
        var x = document.getElementById('AnswerDiv');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
      }
    </script>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p style="text-size:15px;font-weight:bold">
        <%= @question.question %></p>
        <hr style="maring-left:20px;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      <div class="up_vote pull-right">
        <%= link_to like_question_path(@question), method: :put do %>
          <i class="glyphicon glyphicon-triangle-top" style="font-size:30px;"></i>
         <% end -%>
      </div><br><br>
      <div class="question_number pull-right">
          <span style="font-size:20px;"><%= @question.votes_count %> </span>
        </div><br><br>
      <div class="down_vote pull-right">
          <%= link_to dislike_question_path(@question), method: :put do %>
            <i class="glyphicon glyphicon-triangle-bottom" style="font-size:30px;"></i>
          <% end -%>
      </div>
      </div>
   <div class="col-sm-6">
      <span class='notbold'><%= @question.description %></span>
      <br>
      <br>
      <%- if @question.try(:skills).present? %>
            <% eval(@question.skills).each do |skill| %>
            
              <span class="label label-primary"><%= skill %></span>
            <% end %>
      <% end %>
      <div class="col-sm-9 pull-right">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
          <img src="/assets/users.png"  class="img img-responsive" />
        </div>
        <div class="col-sm-6">
          <span class='notbold_date' ><%= ActiveSupport::TimeZone["Chennai"].parse(@question.updated_at.to_s).strftime("%d %b %Y %l:%M %p") %></span>
        </div>

      </div><br><br><hr>
      <div class="row">
        <div class="container">
          <div>
            <span></span><span class='notbold'>Replies of the users comes here</span>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-primary pull-right" style="margin-top:10px;" id="answer_button" onclick="showAnswer()">Answer</button>
    </div>
    <div class="col-sm-2">
     <% if current_user.has_role? :admin %>
         <%= link_to edit_question_path(@question), class: "btn btn-primary" do %>
     <i class="glyphicon glyphicon-edit"></i> edit
         <% end %>
         <%= link_to @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  do %>
       <i class="glyphicon glyphicon-trash"></i>
          <% end %>
    <% end %>
    </div>
    </div>
    <div class="row" id="AnswerDiv" style="display:none">
    <div class="col-sm-6">
      <%= form_for([@question, @question.replies.build]) do |f| %>
 <div class="col-sm-6">
      <h5>Your Answer</h5>
       <%= f.label :Answer %><br>
     <%= f.text_area :answer, :rows => 5, :cols => 50 %>
      <%= f.submit 'Post Answer', :class => 'btn btn-success' %>
    </div>
  </div>
  <hr>
<% end %>

    </div>
  </div>

<!-- <h1><%=@question.replies.size   %></h1> -->
<% for reply in @question.replies %>
  <%- if  reply.try(:answer) != nil then%>

    <div class="row">
      <div class="container">
        <h4>Answers</h4>
      </div>
    </div><br>
    
  
    <div class="row">
    <div class="col-sm-1">
      <div class="up_vote pull-right">
        <i class="glyphicon glyphicon-triangle-top"></i>
      </div><br>
      <div class="question_number pull-right">
        <span>10</span>
      </div><br>
      <div class="down_vote pull-right">
        <i class="glyphicon glyphicon-triangle-bottom"></i>
    </div>
    </div>
    <div class="col-sm-6">
      <span class='notbold'><%= reply.try(:answer) %></span>
      <div class="row">
          <button class="btn btn-sm btn-primary pull-right">Reply</button>
      </div>
       <div class="col-sm-9 pull-right">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
          <img src="/assets/users.png"  class="img img-responsive" />
        </div>
        <div class="col-sm-6">
          <span class='notbold_date' ><%= ActiveSupport::TimeZone["Chennai"].parse(@question.replies.try(:created_at).to_s)%></span>
        </div>

      </div><br><br><hr>
    </div>
  

  </div>
  <hr>
  <% end -%>
<% end -%>

  


 